
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.container {
    background-color: rgba(17, 17, 17, 1);
    color: white;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 40px;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
    gap: 15px;
}

.primary-btn {
    background-color: rgba(230, 83, 60, 1);
    padding: 16px 20px;
    border-radius: 42px;
    border: none;
}

.secondery-btn {
    background-color: transparent;
    padding: 16px 20px;
    border-radius: 42px;
    border: 1px solid white;
    color: white;
}

nav {
    padding: 4px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}

.navbar {
    border: 1px solid rgba(128, 128, 128, 0.719);
    border-radius: 46px;
    gap: 30px;
    padding: 8px;

}

.navbar>button {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 8px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    margin-right: 10px;
}

nav>span {
    display: none;
}

/*banner*/
.banner-container,
.card-container,
.banner2-container {
    margin-top: 100px;
}

.banner-left {
    max-width: 50%;

}

.title {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.title1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.btn-container button {
    margin-right: 20px;
    margin-top: 20px;
}

.banner-image img {
    position: relative;
    width: 100%;
    display: block;

}

.first-span {
    position: absolute;
    top: 320;
    right: 150;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.second-span {
    position: absolute;
    top: 620;
    right: 400;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    padding: 20px;
    border-radius: 10px;

}

.letter-bold {
    font-size: 1.85rem;
    font-weight: 900;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
}

/*card*/
.cards {
    margin-top: 50px;
}

.card {
    padding: 20px;
    text-align: center;

}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card span {
    font-weight: bold;
    font-size: 1.25rem;
}

/*banner 2*/
.banner2-container {
    background-color: #222222;
    height: 371px;
    padding: 30px;
    gap: 50px;
}

.banner2-left button {
    margin-top: 25px;

}

.banner2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/*grid container*/
.grid-container {
    margin-top: 150px;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}

.grid img,
.grid-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-2 {
    grid-column: span 2;
}

.grid-4 {
    grid-column: span 2;
}

.image-box {
    position: relative;
    border-radius: 10px;
}

.image-box::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: #ffff;
    z-index: 2;
}

.content small {
    opacity: 0.8;
}

.content h3 {
    margin-top: 5px;
    font-size: 12px;
}

.content-top {
    top: 5px;
}

.content-top1 {
    top: 10px;
    text-align: end;
}


.teal::before {
    background: rgba(0, 180, 170, 0.6);
    ;
}

.red::before {
    background: rgba(220, 50, 50, 0.6);
}

.green::before {
    background: rgba(50, 180, 90, 0.6);
}

.yellow::before {
    background: rgba(240, 190, 60, 0.6);
}

.grid2 {
    background-color: #22222286;
    margin-top: 170px;
    padding: 30px;
}

.grid2 .title1,
.grid2 p {
    margin-bottom: 30px;
    text-align: center;
}

.grid2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 70px;
    gap: 25px;

}

.grid2-container .grid-info {
   
    position: relative;
}
.grid2-container .grid-info img{
     border-radius: 25px;
    border: none;
}
.grid-info .contetnt1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
}
footer{
    margin-top: 70px;
    padding: 30px;
    background-color: #22222286;
    width: 100%;
}
.foot{
    margin-bottom: 20px;
}
footer .foot1 {
   align-items: start;
   padding-right: 20px;
   padding-left: 20px;

}
.foot1 p{max-width: 300px;
margin-bottom: 20px;}
.foot1 ul{
    list-style: none;
    margin-top: 10px;
}
.foot ul li{
    gap: 15px;

}
.pp{
    text-align: center;
    padding: 20px;
}









@media screen and (max-width:575px) {
    .container {
        max-width: 475px;
    }

    .navbar {
        display: none;
    }

    nav>span {
        display: inline;
    }

    .banner-container {
        flex-direction: column;
    }

    .first-span {

        top: 1100;
        right: 40;

        padding: 20px;

    }

    .second-span {
        top: 1320;
        right: 300;


    }

    .cards,
    .banner2-container {
        flex-direction: column;
    }

    .banner2-container {
        height: fit-content;
    }


    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2,
    .grid-4 {
        grid-column: span 1;
    }

    .grid2-container {

        grid-template-columns: repeat(2, 1fr);
        gap: 15px;


    }

   footer .foot{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(3,auto);
    place-items: center;
    gap: 20px;
   } 







}